@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #feafc3;
  color: #2d3440;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}
.button-order {
  padding: 12px 32px;
  margin-top: 48px;
}

input {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}
header {
  line-height: 20px;
}
.page-container {
  width: 1170px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  height: 104px;
}
.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navigation-link {
  display: block;
  padding: 8px 16px;
}
.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}
.navigation-user {
  display: flex;
  justify-content: flex-end;
  width: 567px;
  margin-left: auto;
}
.logo-main {
  width: 137px;
  margin: 0 auto;
  align-self: center;
}
.main-container {
  flex-grow: 1;
}
.slider {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.product-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product-name {
  font-weight: 900;
  font-size: 36px;
  text-align: start;
  width: 470px;
}
.gallery {
  width: 630px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider-image {
  margin: 21px 21px 26px 21px;
}
.slider-image-inactive {
  justify-self: center;
  margin: 0 17px 0 17px;
}
.slider-button {
  background-color: #feafc3;
}
.product-description {
  line-height: 24px;
  color: #565c66;
  font-size: 18px;
  width: 414px;
  margin: 0;
}
.dot-pagination {
  width: 52px;
  margin-top: auto;
  margin-right: auto;
}
.dot-pagination-button {
  width: 12px;
  height: 12px;
  border: 0;
}
.social-networks {
  width: 104px;
  margin-top: auto;
  margin-left: auto;
}
.social-networks-item {
  height: 28px;
  width: 28px;
  margin-bottom: 16px;
}
.social-networks-item:nth-child(3n) {
  margin-bottom: 0;
}

.social-networks-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-networks-footer {
  width: 104px;

  margin-right: auto;
}
.made-by {
  width: 193px;
  margin-left: auto;
  margin-top: auto;
}
.navigation-footer {
  width: 356px;
}
.navigation-footer .navigation-link {
  font-size: 14px;
}

.banners-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 80px;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

.banners-item {
  box-sizing: border-box;
  width: 570px;
  background: #ff7799;
  border-radius: 16px;
  padding: 28px 15px 0 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;

  padding: 0;
}
.catalog-list-inner {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 57px;
}

.catalog-list li {
  display: inline-block;
}
.product-card {
  box-sizing: border-box;
  width: 270px;
  background-color: #fcfcfc;
  display: flex;
  margin: 0;
  padding: 0 40px 28px 40px;
}

.product-card:nth-child(n + 5) {
  margin-top: 40px;
}

.seo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.seo-container {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 56px 40px;
}
.seo-list-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.seo-list-image:nth-child(1 + 2n) {
  margin-left: 32px;
}

.seo-item {
  display: flex;
  align-items: center;
}

.seo-item p {
  max-width: 442px;
}
.seo {
  background-image: url("../images/waffle_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 24px;
  border-radius: 16px;
}
.news_subscription {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.news {
  box-sizing: border-box;
  width: 570px;
  padding: 32.59px 235px 63.15px 32px;
}
.news-description {
  margin: 0;
}
.news-name {
  max-width: 310px;
  margin-bottom: 0;
  margin-top: 12.22px;
}
.subscription {
  box-sizing: border-box;
  width: 570px;
  padding: 6px;
}
.subscription-container {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 26px;
}
.subscription-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 48px;
  margin-top: 42px;
}
.subscription-form button {
  width: 152px;
  margin-left: 24px;
}
.subscription-form .email {
  flex-grow: 1;
}
.subscription p {
  margin-top: 0;
}
.pagination-numbers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 327px;
}
.pagination-numbers a {
  margin-left: 16px;
}
.pagination-catalog {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
}
.pagination-show-more {
  margin-left: auto;
}

.delivery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 76px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}
.delivery h2 {
  margin-top: 0;
  max-width: 356px;
}
.delivery p {
  max-width: 371px;
}
.delivery-container {
  display: flex;
  flex-direction: column;
  margin-right: 135px;
}
.delivery-form {
  background-color: #fcfcfc;
  border-radius: 8px;
}
.user-interface {
  font-size: 14px;
}
.navigation-phone {
  font-weight: 700;
  font-size: 16px;
}
h2 {
  line-height: 46px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.main-inner {
  margin-top: 32px;
}
.product-card p {
  text-align: center;
}
.product-card b {
  font-weight: 700;
}
.product-card-price {
  line-height: 24px;
  font-size: 20px;
}
.product-card-title {
  margin-bottom: 8px;
  text-align: center;
}
p {
  color: #565c66;
}

.delivery-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}
.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}
.page-footer-inner {
  margin-top: 57px;
}
footer .navigation {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}
.for-suppliers {
  font-weight: 700;
}
.made-by-academy {
  font-size: 12px;
  line-height: 16px;
}
.breadcrumbs-link {
  text-decoration: underline;
}

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  width: 249px;
  list-style-type: none;
}
.select {
  display: flex;
  flex-direction: column;
}
.filter-price {
  display: flex;
  flex-direction: column;
}
.catalog-filter {
  margin-top: 40px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 807px;
}

a {
  color: #2d3440;
  text-decoration: none;
}

.news {
  background-image: url("../images/background_news.jpg");
  border-radius: 16px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.subscription {
  background-image: url("../images/email_background.jpg");
  border-radius: 16px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.delivery {
  background-image: url("../images/delivery_background.jpg");
  border-radius: 16px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.feedback {
  background-image: url("../images/feedback_background.jpg");
  border-radius: 16px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  padding: 64px 763px 64px 64px;
}
.feedback-container {
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 40px;
}
.feedback-subtitle {
  margin-top: 0;
  margin-bottom: 12px;
}
.feedback-adress-text {
  margin-top: 0;
  margin-bottom: 24px;
}
.feedback-phone h4 {
  margin-top: 1px;
  margin-bottom: 0px;
}

.product-card-image {
  border-radius: 50%;
}
.feedback-annotation {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}
.button-light {
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
}
